body{
	
}

#container{
	width:960px;
	height:800px;
	margin-left:auto;
	margin-right:auto;
	background-color: #dddddd;


}

.full-width{
	width:960px;
	margin:10px;
	padding:10px;
	box-sizing: border-box;
	background-color:#bbbbbb;

}

.half-width{
	width:460px;
	margin:10px;
	padding:10px;
	box-sizing:border-box;
	background-color: #aaaaaa;
	float:left;

}

.third-width{
	width:300px;
	margin:10px;
	padding:10px;
	box-sizing:border-box;
	background-color: #999999;
	float:left;

}

figure{
	margin:0px;
	padding:0px;
}

.eigthwidth{
	width:300px;
	margin:10px;
	padding:10px;
	box-sizing:border-box;
	background-color: #999999;
	float:left;

}

.fourth-width{
	width:300px;
	margin:10px;
	padding:10px;
	box-sizing:border-box;
	background-color: #999999;
	float:left;
}

.eigthwidth{
	width:300px;
	margin:10px;
	padding:10px;
	box-sizing:border-box;
	background-color: #999999;
	float:left;
}

