body{
	margin:0px;
}

#wrapper{
	background-color: #aaaaaa;
	width:100%;
	max-width:960px;
	margin-top: 
	margin-left:auto;
	margin-right:auto;
	display:flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	align-content: left;
}

header{
	background-color: #336699;
	width:97.9166666667%;
	margin:1.041666666667%; /* If you have two values, the 1st one will be top and bottom and the second measurement will be left and right */
	box-sizing: border-box;
}

nav{
	background-color: #336699;
	width:97.9166666667%;
	margin:1.041666666667%;
	padding:1em;
	box-sizing:border-box;
}

article{
	background-color: #999999; /* 940 10 pxs*/
	width:97.9166666667%;
	margin:1.041666666667%;
	box-sizing:border-box;
	display:flex;
	justify-content:flex-start;
	align-items:stretch;
	flex-wrap: wrap;
	align-content:left;
}

.full-row{
	background-color: #336699;
	width:920px;
	margin:1.063829787234%;
	padding:1em;
	box-sizing: border-box;
}

.half-row{
	background-color: #336699; 
	width: 47.872340425532%;
	margin: 1.063829787234%;
	padding:1em;
	box-sizing: border-box;
}

.quarterrow{
	background-color: #336699;
	width:215px;
	margin:10px;
	padding:20px;
	box-sizing: border-box;
}

footer{
	background color:#336699;
	width: 97.916666666667%; 
	margin:1.041666666667%;
	padding:3em;
	box-sizing: border-box;
	text-align: center;
}

h1,h2,h3{
	margin:0px;
}

figure{
	margin-left: 0px;
	width: 100%;
}

img{
	max-width: 100%;
	display: block;
}